header{
    text-align: center;
    margin: auto;
    padding: 5px;
    background: grey;
    color: #fff;
}

.taskButtons div{
    margin: 5px;
}

.taskList ul{
    list-style: none;
    display: inline;
}

.taskList ul li p{
    display: inline-block;
}
